---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Sobre mí"
  description="Trayectoria, intereses y enfoque profesional en desarrollo y tecnología."
  pubDate={new Date("December 25 2004")}
  heroImage="/perfil.jpeg"
>
  <div id="about-me">
    <h2>¿Quién soy?</h2>
  </div>
  <p>
    Soy un programador apasionado por el aprendizaje autodidacta. Cada línea de
    código que escribo refleja creatividad, experiencia y ganas de innovar. Mi
    formación no viene solo del aula: hackathones, proyectos propios y
    certificaciones han sido parte clave de mi crecimiento.
  </p>
  <p>
    Para mí, programar es una forma de pensar, resolver problemas y materializar
    ideas.
  </p>

  <iframe
    width="680"
    height="315"
    src="https://www.youtube.com/embed/DBvCYtUvXm4?si=FFzNB5U1bfNy-DxK&controls=0"
    title="Video de presentación en YouTube"
    style="max-width: 100%; border: 0; border-radius: 12px"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</Layout>
