---
const { languages } = Astro.props;

const icons: Record<string, string> = {
  javascript: "/icons/javascript.svg",
  python: "/icons/python.svg",
  swift: "/icons/swift.svg",
  typescript: "/icons/typescript.svg",
  html: "/icons/html.svg",
  css: "/icons/css.svg",
  astro: "/icons/astro.svg",
  react: "/icons/react.svg",
  angular: "/icons/angular.svg",
  php: "/icons/php.svg",
  cplus: "/icons/cplus.svg",
  bootstrap: "/icons/bootstrap.svg",
  markdown: "/icons/markdown.svg",
};

const iconSrcs = languages
  ? languages.map(
      (lang: string) => icons[lang.toLowerCase()] || "/icons/default-icon.svg",
    )
  : ["/icons/default-icon.svg"];
---

<span class="language-icons">
  {
    iconSrcs.map((iconSrc: string) => (
      <img
        src={iconSrc}
        alt=""
        role="presentation"
        width="24"
        height="24"
        class="language-icons__icon"
      />
    ))
  }
</span>

<style>
  .language-icons {
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
    margin-left: 0.35rem;
    vertical-align: middle;
  }

  .language-icons__icon {
    flex-shrink: 0;
    display: block;
  }
</style>
